footer {
    background-color: black;
    position: relative;
    z-index: 3;
}
.pieContainer{
    object-fit: cover; 
}
.footer_top .container{
    position: relative;
    object-fit: cover; 
    color: #F4F4F1;
}
.container_pie{
    color: #F4F4F1;
}
.text-gris{
    color: #6B675A;
}
.list-unstyled a {
    color: #ABA490;  
}
.card {
    background-color: transparent; /* Fondo transparente */
}