
  .form-control:focus {
    border-color: #B0A06C; /* Cambia el color del borde cuando el campo está enfocado */
    box-shadow: 0 0 0 0.25rem rgba(110, 100, 68, 0.25); /* Añade un efecto de sombra */
}
.custom-form {
    background-color: #f8f9fa; /* Color de fondo predeterminado */
}
.custom-input:focus,
.custom-textarea:focus {
    border-color:#959288; /* Color del borde cuando está enfocado */
}
.custom-input,
.custom-textarea {
    background-color: #fff; /* Color de fondo predeterminado para los campos de entrada */
}
.form-control::placeholder {
    color: #D5D1C8;
    /* Color sepia base */
  }
  .text-sepia {
    color: #ABA490;
  }
  .text-contacto-form{
    color: #403E36;
}
.text-contacto{
    color: #151512;
}

