hr {
    border-top: 3px solid white;
    /* Línea blanca */
    margin: 10px 0;
    /* Margen superior e inferior */
}

.footer-divider-gruesa {
    border-top: 5px solid #585036;
    /* Línea blanca */
    margin: 10px 0;
    /* Margen superior e inferior */
}
.principal-divider-gruesa {
    border-top: 5px solid black !important;
    /* Línea blanca */
    margin: 10px 0;
    /* Margen superior e inferior */
}
.hr-gruesa {
    border-top: 5px solid sienna !important;
    /* Línea negra */
    margin: 10px 0; /* Margen superior e inferior */
}