* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  position: relative;
  height: 100%;
} */

body {
  background: white;
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

.container_card {
  /* width: 90%; */
  /* background: black; */
  width: 100%;
  /* Ajusta el ancho del contenedor al 100% */
  /* max-width: 1200px; */
  /* Ajusta este valor según tus necesidades */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  padding: 10px 40px;
  /* Ajusta el relleno según sea necesario */
  background: gold;
}

.container_card .swiper-container {
  position: relative;
  width: 100%;
  /* Permite que el ancho de las diapositivas se ajuste automáticamente */
  height: 100%;
  /* Permite que la altura del carrusel se ajuste automáticamente */
  overflow: hidden;
  /* Oculta cualquier contenido que se desborde */
  /* padding: 50px; */
  background: gray;
  padding: 10px 40px;
}


.container_card .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 16px;
  background: black;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  padding: 5px; /*despues modificar para probar*/
  /* max-width: 150;  */
  height: 100%;
}

.container_card .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px; /*despues modificar para probar*/

}

.container_card .swiper-slide .card-description {
  padding: 1rem 1rem;
  /* background: gray; */
  /* height: 300px; */
}

.container_card .swiper-slide .card-title,
.container .swiper-slide .card-text {
  margin-bottom: .5rem;
  /* height: 300px; */
}

.container_card .swiper-slide .card-link {
  text-align: right;
 /* height: 300px; */
}

.container_card .swiper-slide .card-link a {
  text-decoration: none;
  color: #423C29;
}

.container_card .swiper-button-prev,
.container_card .swiper-button-next {
  /* margin: 20px; */
  color: #6E6444;
  /* Cambia el color de las flechas a rojo */
  font-size: 12px;
  /* Cambia el tamaño de las flechas a 24px */
}

.swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container_card .swiper-pagination-bullet {
  /* background-color: #B0A06C; */
  /* Cambia el color de los puntos de paginación a azul */
  /* width: 10px; */
  /* Cambia el tamaño de los puntos de paginación a 10px */
  /* height: 10px; */
  
  /* Agrega un margen entre los puntos de paginación */
  /* border-radius: 50%; */
  /* Hace que los puntos de paginación sean circulares */
  /* Modifica el tamaño y color de los puntos */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #B0A06C;
  opacity: 1;
}
.container_card .swiper-pagination-bullet-active {
  /* Modifica el estilo del punto activo */
  background-color: #16140E;
  /* opacity: 1; */
}
.container_card .swiper-pagination {

    /* Posiciona la paginación */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 20px; Ajusta el valor del margen */
}

/* CSS para los colores de los párrafos */
.all-paragraphs-text {
  color: #585036;
}

/* CSS para los colores de los títulos */
.all-titles-text {
  color: #16140E;
}